* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: transparent;
  text-shadow: -1px 1px 2px darkblue, 1px 1px 2px darkblue, 1px -1px 0 darkblue,
    -1px -1px 0 white;
  width: 100%;
}

#ChessBoard {
  width: 600px;
  height: 616 px;
  border: 8px outset black;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-left: 5em;
  margin-right: 2em;
  margin-top: 1em;
  float: left;
  box-shadow: 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
}

.square {
  width: 75px;
  height: 75px;
  background-color: rgb(127, 20, 20);
}

.square:hover {
  box-shadow: #fff 0 -1px 4px, rgb(0, 34, 255) 0 -2px 10px, #2600ff 0 -10px 20px,
    blue 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  position: relative;
}

.ControlArea {
  display: flex;
  width: 25%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

#StartBtn {
  text-shadow: -1px 1px 2px black, 1px 1px 2px black, 1px -1px 0 black,
    -1px -1px 0 white;
  min-width: 155px;
  min-height: 155px;
  max-width: 155px;
  max-height: 155px;
  vertical-align: middle;
  /* padding-top: 0.25em; */
  padding-left: 0.02em;
  border-radius: 100%;
  font-weight: 650;
  font-size: 2em;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  padding-top: 56px;
}

#StartBtn:hover {
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  text-shadow: #1f87ff 0px 5px 2px;
  transform: scale(1.019);
  /* margin: 10px; */
  position: relative;
  z-index: 2;
}

#TileDisplay {
  text-shadow: -1px 1px 2px black, 1px 1px 2px black, 1px -1px 0 black,
    -1px -1px 0 white;
  min-width: 155px;
  min-height: 155px;
  max-width: 155px;
  max-height: 155px;
  margin-left: 10px;
  padding-top: 1em;
  padding-left: 0.02em;
  border-radius: 100%;
  font-size: 3em;
  font-weight: 650;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.ScoreArea {
  display: flex;
  width: 25%;
  height: auto;
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  margin-top: 10px;
}

#CounterDisplay {
  text-shadow: -1px 1px 2px black, 1px 1px 2px black, 1px -1px 0 black,
    -1px -1px 0 white;
  min-width: 155px;
  min-height: 155px;
  max-width: 155px;
  max-height: 155px;
  vertical-align: middle;
  padding-top: 0.25em;
  padding-left: 0.02em;
  border-radius: 100%;
  font-weight: 650;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#Score {
  text-shadow: -1px 1px 2px black, 1px 1px 2px black, 1px -1px 0 black,
    -1px -1px 0 white;
  min-width: 155px;
  min-height: 155px;
  max-width: 155px;
  max-height: 155px;
  margin-left: 10px;
  vertical-align: middle;
  padding-top: 0.5em;
  padding-left: 0.02em;
  border-radius: 100%;
  font-size: 1.5em;
  font-weight: 650;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.5s;
}

.ScoreFigureArea {
  display: flex;
  width: 25%;
  height: auto;
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 10px;
}

#PawnImage {
  width: 30%;
  height: auto;
  margin-right: 5em;
  margin-top: 2em;
}

.animated{
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#ScoreFigure {
  font-size: 3em;
  width: 70%;
  height: 3rem;
  overflow-wrap: break-word;
}
